.card {
  align-self: center;
}

.forms {
  margin-top: 3rem;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30%;
}

#deleteBtn {
  background-color: red !important;
  border-color: red !important;
  margin-left: 2rem !important;

}
