<h3>Home page</h3>

<div class="text-area">
    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra sapien at nunc ultrices posuere. In vitae
        dui sed lectus bibendum rhoncus id ornare massa. Integer rhoncus at elit eget feugiat. Aliquam nisl felis,
        blandit in ornare et, vehicula at nisi. Aenean consequat libero ac eros vestibulum bibendum. Aenean vitae tempus
        neque. Fusce lobortis euismod laoreet. Integer vitae aliquet orci. Nullam magna erat, venenatis non neque eget,
        viverra consequat arcu. Nunc scelerisque diam non ipsum scelerisque, vitae efficitur neque facilisis. In ex
        tortor, tristique vitae nunc ut, vestibulum faucibus sapien. Cras cursus rutrum mi, eget pellentesque tortor
        porta vitae. Phasellus feugiat viverra consectetur. Maecenas at lorem a orci interdum viverra sit amet non nisl.
        Aliquam et ullamcorper mauris. Nulla tellus felis, gravida eget aliquet ac, luctus id massa.
    </p>
    <p>
        Nulla varius nulla sit amet magna tincidunt accumsan. In in leo id ante euismod sagittis. Morbi neque mi,
        pellentesque sed mi id, posuere placerat odio. Nullam viverra quis odio in tempor. Praesent at vestibulum quam.
        Etiam eleifend ornare ante, quis lobortis velit placerat quis. Vestibulum ornare magna eu elit blandit, sed
        euismod metus efficitur. Vestibulum et massa urna. Nulla eleifend sollicitudin leo. Vestibulum aliquam lectus et
        dolor interdum, non posuere tellus auctor. Praesent ultricies sagittis magna ac sodales. Nam quis vestibulum
        eros. Suspendisse vulputate, risus eu laoreet vehicula, velit tortor maximus velit, a pellentesque nibh eros ac
        felis. Sed augue sapien, convallis et lorem eget, porta molestie ligula. Curabitur facilisis elementum est, eget
        sollicitudin lacus feugiat quis. Sed nec elit in magna lacinia egestas vitae nec dui.
    </p>
    <p>
        Etiam malesuada maximus felis, non mattis odio euismod eget. Morbi leo metus, fringilla nec eleifend ut,
        ultrices eget purus. Etiam tempor elementum tortor in viverra. Morbi eget gravida arcu. Nullam a velit dui.
        Curabitur tincidunt, ante nec elementum rhoncus, lorem lectus vulputate quam, quis sagittis massa ipsum aliquet
        sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada dolor at odio dapibus
        pellentesque. Donec at congue sem. Nullam velit enim, faucibus vitae commodo rutrum, venenatis at arcu. Nulla
        mauris est, iaculis eget nibh et, mattis accumsan purus. Quisque sed laoreet mi, sed accumsan dolor. Sed
        hendrerit eleifend lectus nec tincidunt.
    </p>

</div>
